---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_API_KEY>&latlng=22.3193039,114.1693611
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hong Kong
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "8599+PP Hong Kong",
              "global_code" : "7PJP8599+PP"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Mong Kok Station",
                       "short_name" : "Mong Kok Station",
                       "types" : [
                          "establishment",
                          "point_of_interest",
                          "subway_station",
                          "transit_station"
                       ]
                    },
                    {
                       "long_name" : "Mong Kok",
                       "short_name" : "Mong Kok",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Kowloon",
                       "short_name" : "Kowloon",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Hong Kong",
                       "short_name" : "HK",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Mong Kok Station, Mong Kok, Hong Kong",
                 "geometry" : {
                    "location" : {
                       "lat" : 22.319253,
                       "lng" : 114.169355
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 22.3206019802915,
                          "lng" : 114.1707039802915
                       },
                       "southwest" : {
                          "lat" : 22.3179040197085,
                          "lng" : 114.1680060197085
                       }
                    }
                 },
                 "place_id" : "ChIJk-ZOwscABDQReCIKoir2RpU",
                 "plus_code" : {
                    "compound_code" : "8599+PP Mong Kok, Hong Kong",
                    "global_code" : "7PJP8599+PP"
                 },
                 "types" : [
                    "establishment",
                    "point_of_interest",
                    "subway_station",
                    "transit_station"
                 ]
              },
              {
                 "address_components" : [
                   [...]
