---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=7bd06b4ee051fb8ce184198aa069c038&lat=-22.3193039&lon=-65.8306389
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":-22.32,"lon":-65.83,"timezone":"America/Argentina/Jujuy","current":{"dt":1587402103,"sunrise":1587379069,"sunset":1587420361,"temp":286.07,"feels_like":282.06,"pressure":1018,"humidity":11,"dew_point":258.06,"uvi":10.78,"clouds":1,"wind_speed":0.78,"wind_deg":90,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1587402000,"temp":286.07,"feels_like":282.06,"pressure":1018,"humidity":11,"dew_point":258.06,"clouds":1,"wind_speed":0.78,"wind_deg":90,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1587405600,"temp":286.45,"feels_like":282.29,"pressure":1016,"humidity":10,"dew_point":257.3,"clouds":8,"wind_speed":0.95,"wind_deg":118,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1587409200,"temp":286.75,"feels_lik[...]
